@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
select {
  @apply border-gray-300 border-2 rounded-md p-2 w-full mb-2;
}

input:focus,
textarea:focus,
select:focus {
  @apply border-blue-900;
}

h1 {
  @apply text-blue-900 text-xl mb-2;
}

table.basic {
  @apply w-full bg-white rounded-sm shadow-md;
}

table.basic thead tr td,
table.basic thead tr th {
  @apply text-sm text-gray-600 uppercase border-b-2 border-gray-800 px-4 py-2;
}
table.basic th {
  @apply text-left;
}
table.basic td {
  @apply border-b-2 border-gray-200;
}
table.basic tr td {
  @apply px-4 py-1;
}

table.basic a,
table.basic .links {
  @apply px-4 rounded-sm inline-flex mx-1 items-center gap-1 text-sm py-1;
}

.save-btn {
  @apply flex gap-2 items-center bg-green-400 border-0 rounded-sm shadow hover:bg-green-500 hover:rounded-md my-1;
  @apply flex w-40 my-4 mx-6 py-2 px-4 hover:scale-105;
}

.primary-btn {
  @apply flex gap-2 items-center bg-sky-100 border-0 rounded-sm shadow hover:bg-sky-300 hover:rounded-md my-1;
}

.delete-btn {
  @apply flex gap-2 items-center bg-red-400 border-0 rounded-sm shadow hover:bg-red-500 hover:rounded-md my-1;
}

.stat-box {
  @apply w-64 h-40;
  @apply flex items-center hover:-rotate-2 hover:scale-105;
}

.stat-logo {
  @apply px-4;
}

.stat-data {
  @apply flex flex-col justify-center items-center;
  @apply text-xl font-semibold;
}
